

body {
    font-family: Montserrat;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.info {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.grid {
   
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows:  2fr 3fr;
    height: 700px;
    gap: 10px 10px; /* gap between grid rows/ columns */

}

.grid * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
    border-radius: 5px;
  }



.line-countries, #map, .line-vaccines, .bubble {
    background-color: transparent;
    border: none;
    box-shadow: 0 .7rem 1rem #4917707a;   
}

.line-countries, .line-vaccines {
    min-height: 300px !important;
}

.bubble {
    background-color: rgb(255, 255, 255);

}

/* change layout on smaller screens */
@media (max-width: 800px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    #map {
        height: 400px
    }
}

/* increase dashboard height on larger screens */
@media (min-height: 800px) {
    .grid {
        height: 900px;
    }
}

.title {
    margin-right: 30px;
    margin-left: 15px;
}

.btn {
    margin: 3px 6px;
    padding: 3px 20px;
    height: 55px;
    font-family: inherit;
    font-size: 25px;
    border-radius: 1em;

    background-color: transparent;
    border: none;
    box-shadow: 0 .7rem 1rem #4917707a;
}

.btn:hover {
    cursor: pointer;
    color: aliceblue;
    background-color: #491770;
    box-shadow: none;
    transition: background-color 400ms;
}

.selected {
    color: aliceblue;
    background-color: #491770;
    box-shadow: none;
}

.selected:hover {
    opacity: 0.7;
    transition: opacity 400ms;
}

#map .map path {
    fill: rgb(214, 214, 214, 0.7);
    stroke: #fff;
}


#map .centroid circle {
    fill: red
}

#map, .bubble {
    display: flex;
    flex-direction: column;
}

.clicked-dot{
    fill:red !important;
    stroke: black !important;
    transform: scale(1.5);
    transform-origin: 5px 5px;
}

/* hover event of the dots in the scatter plot */
.bubble-dots:hover {
    /* shorthand syntax for animations */
    animation: 0.3s q alternate pulsar;
    /* transforms the marker to the center of the svg container */
    transform-origin: 5px 5px;
    transform: scale(1.5);
    stroke: black;
    transition: 300 stroke;
}

.selected-dot {
    stroke: black !important; 
}

.selected-map {
    fill: red !important;
}





